VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_BUCKET_LIST_ID=antangoy-shared
VITE_MEET_LOG_ID=antangoy-meets
VITE_QUIZ_BANK_ID=antangoy-quizzes
